.Cart {
  display: flex;
  flex-wrap: wrap;
  // height: 100vh;
  font-size: 30px;
}

.Div {
  font-size: 30px;
}

.Button {
  background-color: #297373;
  font-family: "Moon Dance", cursive;
  height: 50px;
  width: 100px;
  border-radius: 10px;
  margin: 10px 20px;
  font-size: 30px;
  color: #f0f0f0;
}
